html, body, #center {
	height:100%;
}

body{
	background-color: rgb(2, 18, 39);
}

/* ************************************************************************* */
/* ******************************** POSITION ******************************* */
/* ************************************************************************* */

#center {
	display:flex;
	flex-direction: column;
}

#center {
	justify-content:center;
	align-items: center;
	width:100%;
}

/* ************************************************************************* */
/* ********************************* POLICE ******************************** */
/* ************************************************************************* */

h1 {
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	color: rgb(10, 155, 252);
}